

body {
 background-image: url('https://files.otis.com/otis/en/tr/contentimages/burj-khalifa-night-two-1920x1080.jpg');
  background-attachment: fixed;
    background-size: cover;

  height: 100%;
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  



.navcontainer .navicon{
	position: relative;
	color: white;
	font-size: 30px;
	left: 42px;
	top: 24px;
	cursor: pointer;
	z-index: 1;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
}
.navmenucontainer{
	height: 0%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.95);
	overflow: hidden;
	transition: 1s ease-in-out;
}

.navmenucontent{
	position:relative;
	top: 25%;
	width: 100%;
	text-align:center;
	background: rbga(0, 0, 0, 0.5);
	margin-top: 30px;
	
}
.navmenucontent a{
	color: white;
	padding: 16px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	font-family: sans-serif;
	transition: 0.3s ease-in-out;
	
}

.navmenucontent a:hover{
	background-color: rgba(255, 0, 0, 0.3);
}

.navmenucontainer .closebtn{
		position: absolute;
		top: 36px;
		right: 48px;
		font-size: 40px;
		color: white;
		z-index: 1;
		cursor: pointer;
}	

.markp{
	
     text-align: center;
	 padding-top: 200px;
	 size: 3em;
	 
}

h1, h2, h3 {
color: white;
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 4rem;
	padding-top: 20px; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(46, 45, 43, 0.5);
    border-radius: 0.5rem; }
	


#main-footer{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	color: yellow;
	margin-bottom: 10px;
	margin-top: 30px;
}
.social-media img{
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.social-media img:hover{
	height: 55px;
	transition: 1s;
}


.grids
{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	
	grid-gap: 1px;
	
}


.middles{

  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.card{
  cursor: pointer;
  width: 200px;
  height: 230px;
  background: rgba(0, 0, 0, 0.3);
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}
.front img{
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 15px;
}


/* CSS */

.frontcss img{
	 height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  padding-top: 15px;
}

.frontcss{
  transform: perspective(600px) rotateY(0deg);
}



.card:hover > .frontcss{
  transform: perspective(600px) rotateY(-180deg);
}

.frontcss,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}


/* JS */

.frontjs img{
	 height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  padding-top: 15px;
  padding-bottom: 55px;
  padding-top: 0px;
}

.frontjs{
  transform: perspective(600px) rotateY(0deg);
}



.card:hover > .frontjs{
  transform: perspective(600px) rotateY(-180deg);
}

.frontjs,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}









.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: rgba(0, 0, 0, 0.3);
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
	position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  padding: 3px;
  text-align: center;
  
}
.middles h2{
	text-align: center;
	color: yellow;
}

.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
 @media only screen and (max-width: 768px) {
body {
    background-image: url('mobilebackground.jpg');
	background-attachment:fixed;
	background-size: cover; }
	

.grids{
	display: grid;
	grid-template-columns: auto auto;
}
.lg-heading span{
	display: block;
	font-size: 60px;
}
}

	
